<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.web.mapper.ReplyMapper"> 
	<insert id="insert" parameterType="com.rainbow.web.reply.ReplyDTO"> 
		INSERT INTO Reply(writer_name,reg_time, reply_content)
		VALUES (#{writerName}, SYSDATE(), #{replyContent});
	</insert>
	
	<select id="getList" resultType="com.rainbow.web.reply.ReplyDTO">
	    	SELECT r.reply_seq AS replySeq, 
       			   r.writer_name AS writerName, 
       			   r.reg_time AS regTime,
       			   r.reply_content AS replyContent,
                   r.movie_seq AS movieSeq,
                   m.title AS title
				   FROM Reply r
			JOIN Movie m ON m.movie_seq = r.movie_seq;
	</select>
	
	<select id="selectByReplySeq" parameterType="com.rainbow.web.reply.ReplyDTO" resultType="com.rainbow.web.reply.ReplyDTO"> 
			SELECT reply_seq AS replySeq, 
       			   writer_name AS writerName, 
       			   reg_time AS regTime,
       			   reply_content AS replyContent,
                   movie_seq AS movieSeq
				   FROM Reply 
			WHERE movie_seq = #{movieSeq};
	</select>
	
	
	<select id="count" resultType="int">
	    SELECT COUNT(*) FROM Reply
	</select>
	
	<update id="update" parameterType="com.rainbow.web.reply.ReplyDTO">
	    UPDATE Reply SET writer_name =#{writerName} , reply_content = #{replyContent}
			WHERE writer_name = #{writerName};
	</update>
	
	<delete id="delete" parameterType="com.rainbow.web.reply.ReplyDTO">
	    DELETE FROM Reply WHERE reply_seq = #{replySeq};
	</delete>
	
</mapper>